body {
  margin: 0; }

html {
  scroll-behavior: smooth; }

body {
  overflow: hidden; }

.slider p {
  color: white;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; }

.slider h1 {
  margin: 0;
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
  color: white; }

.slider .btn {
  background-color: white;
  width: 160px;
  height: 45px;
  color: #2e343b;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding-top: 18px; }

.slider .btn:hover {
  background-color: gray;
  color: white; }

.slider .btn:active {
  transform: translate(); }

.slider .btn-dark {
  background-color: gray; }

.slider .btn-dark:hover {
  background-color: white;
  color: #2e343b; }

#slider-1 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: RGB(75, 123, 75); }
  #slider-1 img {
    position: absolute;
    top: 20vh;
    left: 35vw; }
  #slider-1 h1 {
    position: absolute;
    top: 7vh;
    left: 25vw;
    animation-name: moveh1;
    animation-duration: 3s; }
  #slider-1 p {
    position: absolute;
    top: 75vh;
    left: 1vw;
    animation-name: movep;
    animation-duration: 3s; }
  #slider-1 .btn {
    position: absolute;
    top: 88vh;
    left: 46vw; }

@keyframes moveh1 {
  from {
    top: -300vh; }
  to {
    top: 7vh; } }

@keyframes movep {
  from {
    left: -3000vh; }
  to {
    left: 1vh; } }

#slider-2 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: RGB(118, 90, 176); }
  #slider-2 img {
    position: absolute;
    top: 20vh;
    left: 35vw; }
  #slider-2 h1 {
    position: absolute;
    top: 7vh;
    left: 41vw; }
  #slider-2 p {
    position: absolute;
    top: 75vh;
    left: 1vw; }
  #slider-2 .btn {
    position: absolute;
    top: 88vh;
    left: 50vw; }
  #slider-2 .btn-dark {
    position: absolute;
    top: 88vh;
    left: 40vw; }

#slider-3 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: RGB(0, 159, 212); }
  #slider-3 img {
    position: absolute;
    top: 20vh;
    left: 35vw; }
  #slider-3 h1 {
    position: absolute;
    top: 7vh;
    left: 41vw; }
  #slider-3 p {
    position: absolute;
    top: 75vh;
    left: 1vw; }
  #slider-3 .btn {
    position: absolute;
    top: 88vh;
    left: 50vw; }
  #slider-3 .btn-dark {
    position: absolute;
    top: 88vh;
    left: 40vw; }

#slider-4 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: RGB(147, 147, 147); }
  #slider-4 img {
    position: absolute;
    top: 20vh;
    left: 35vw; }
  #slider-4 h1 {
    position: absolute;
    top: 7vh;
    left: 41vw; }
  #slider-4 p {
    position: absolute;
    top: 75vh;
    left: 1vw; }
  #slider-4 .btn {
    position: absolute;
    top: 88vh;
    left: 46vw; }
